*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./fondo5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-padre {
    height: 80vh;
    padding: 25px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
}
.links{
    background-color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    list-style: none;
    margin-bottom: 855px;
    width: 1200px;
    height: 100px;
    border: solid 3px white ;
    border-radius: 10px;
    background-position: center;
    background-image: url(./luz-2.gif.crdownload);
    background-repeat: no-repeat;
    background-size: 100%;
   display: flex;
   align-items:  center;
   justify-content: space-around;
   color:white;
   
}
.container-imagen{
    background-image: url(./fondo4.webp);
    height: 400px;
    width: 400px;
    border-radius: 50px;
    margin-top: 500px;
    margin-left: none;
    margin-right: 300px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen{
    height:200px;
    width:200px;
border-radius: 5px;
}
a:hover{
 font-size: 2.2em;
}
